<div class="login_container">
  <div class="login_card">
    <h2 class="login_title">ログイン情報</h2>
    <div class="login_card_area">
      <div class="input_container">
        <div class="login_input_area">
          <div class="input_label">メールアドレス</div>
          <input type="text" class="login_input" />
        </div>
        <div class="login_input_area">
          <div class="input_label">パスワード</div>
          <input type="text" class="login_input" />
        </div>
      </div>
      <div class="login_btn_area">
        <button>キャンセル</button>
        <button>OK</button>
      </div>
    </div>
  </div>
</div>
